#root {
  background-color: #333;
  display: flex;
  justify-content: center;
  height: 100%;
}

.App {
  background-color: #111;
  width: 360px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  color: #fff;
  border-radius: 12px;
}

.info {
  text-align: center;
}

.info--picture {
  position: relative;
  margin-left: -20px;
  width: calc(100% + 40px);
  border-radius: 12px 12px 0px 0px;
}

.info--name {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.info--title {
  font-size: 16px;
  font-weight: 300;
}

.info--link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
}

.info--button--container {
  margin-top: 20px;
  width: 100%;
}

.info--button {
  width: calc(50% - 10px);
  background-color: #fff;
  border: 0px solid #fff;
  border-radius: 5px;
  height: 40px;
  transition: all ease 0.3s;
}

.info--button:hover {
  opacity: 0.6;
  transition: all ease 0.3s;
}

.info--button--xing {
  background-color: aquamarine;
  border: 0px solid aquamarine;
}

.info--button a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
}

.info--button i {
  margin-right: 10px;
}

.info--button:first-child {
  margin-right: 20px;
}

.about {
  margin-top: 40px;
}

.interests {
  margin-top: 20px;
}

.about h3,
.interests h3 {
  font-size: 18px;
  font-weight: 600;
}

.about p,
.interests p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 5px
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  margin-left: -20px;
  border-radius: 0px 0px 12px 12px;
  height: 60px;
  align-items: center;
  font-size: 20px;
  color: #888;
}